<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Adam.Molecki/IdeaProjects/SeleniumHotel">
        <classes>
            <class name="pl.epam.pages.HotelsTest">
                <methods>
                    <include name="checkHotelNamesTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>